nav {
    background-color: #fff000;
    ul {
    	list-style: none;
        li {
        	float: left;
        	margin-right: 20px;
            a {
                color: #fff;
            }
        }
    }
}