.header {
  background-color: red; }

.menu {
  display: block;
  height: 20px;
  width: 100%; }
  .menu a {
    float: left;
    margin-right: 10px; }

.home {
  background-color: #fff000;
  color: #fff; }

.about {
  background-color: blue;
  color: #fff; }

.contact {
  background-color: red;
  color: #fff; }

.notfound {
  background-color: purple;
  color: #fff; }

body {
  background-color: #00ff00; }

.content {
  opacity: 0;
  border-radius: 5px; }

.content-show {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s; }
