@import './components/button';
body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #252323;
    color: #fff;
}

.content {
    opacity: 0;
    border-radius: 5px;
}

.content-show {
    opacity: 1;
    transition: all .5s;
}