@import './components/button';
body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #252323;
    color: #fff;
}

a,
button {
    @include button();
}

a:hover,
button:hover {
    @include button-hover();
}

a:active,
button:active {
    @include button-active();
}

a:focus,
button:focus {
    @include button-focus();
}

a {
    margin-left: 5px;
    margin-right: 5px;
    color: inherit;
}

hr {
    color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.85);
}

.content {
    opacity: 0;
    border-radius: 5px;
}

.content-show {
    opacity: 1;
    transition: all .5s;
}